.additional-product {
  --block-font-basic: var(--arial, sans-serif);
  font-family: var(--block-font-basic);
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: var(--special-dark-grey, #222222);
}
