.address {
  --block-font-special: var(--oswald, "Tahoma", sans-serif);
  --block-font-basic: var(--arial, sans-serif);
}

.address__slogan {
  font-family: var(--block-font-special);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black, #000000);
  text-transform: uppercase;
}

.address__place {
  font-family: var(--block-font-basic);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--special-dark-grey, #444444);
}

.address__top-wrapper {
  padding-top: 28px;
  padding-bottom: 28px;
}
