.checkbox__label {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &::before {
    content: "";
    background-color: var(--special-dark-grey3, #cdcdcd);
    mask-image: url("../../img/stack.svg#checkbox");
    mask-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 16px;

    @media (min-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }
}
