.choice__label {
  position: relative;
  display: flex;
  // align-items: center;
  cursor: pointer;
  user-select: none;
  width: auto;

  &::before {
    content: "";
    display: block;
    background-color: var(--special-dark-grey3, #cdcdcd);
    mask-repeat: no-repeat;
    min-width: 30px;
    min-height: 30px;
    margin-right: 15px;

    @media (min-width: 768px) {
      margin-right: 20px;
      min-width: 40px;
      min-height: 40px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    min-width: 30px;
    min-height: 30px;
    background-color: var(--basic-green, #68b738);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 0 0;
    top: 0;
    left: 0;
    transition: mask-size 0.2s;

    @media (min-width: 768px) {
      min-width: 40px;
      min-height: 40px;
    }
  }

  &--radio {
    max-width: initial;

    &::before {
      mask-image: url("../../img/stack.svg#radiobutton");
    }

    &::after {
      mask-image: url("../../img/stack.svg#radiobutton-active");
    }
  }

  &--checkbox {
    max-width: initial;

    &::before {
      mask-image: url("../../img/stack.svg#checkbox");
    }

    &::after {
      mask-image: url("../../img/stack.svg#checkbox-active");
    }
  }

  &:hover::before {
    background-color: var(--special-grey4, #bababa);
  }
}

.choice__label-text {
  align-self: center;
  word-break: break-word;
}
