.contact-list {
  display: grid;
  grid-template-rows: 1fr 1fr;

  @media (min-width: 1440px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 80px;
  }
}

.contact-list__item {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  margin-bottom: 14px;
  column-gap: 10px;

  @media (min-width: 768px) {
    margin-bottom: 20px;
    column-gap: 23px;
  }
}

.contact-list__label {
  white-space: nowrap;
}

.contact-list__field-wrapper {
  position: relative;
  display: grid;
}

.contact-list__icon {
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #222222;
    mask-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 12px;
    right: 15px;
  }

  &--a::after {
    mask-image: url("../../img/stack.svg#mail");
  }

  &--b::after {
    mask-image: url("../../img/stack.svg#telephone");
  }
}

.contact-list__field {
  padding: 10px 40px 10px 13px;
}
