.field {
  font-family: var(--block-font-special);
  box-sizing: border-box;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--special-dark-grey, #444444);
  border: 1px solid var(--special-grey, #e7e7e7);
  border-radius: 0;
  padding: 10px 10px 10px 13px;
  outline: 0;
  opacity: 1;
  appearance: none;
  min-width: 100px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: normal;
    padding: 10px 5px 10px 13px;
  }

  &::placeholder {
    font: inherit;
    color: inherit;
    opacity: 1;
  }

  &:hover {
    border: 1px solid var(--special-dark-grey3, #cdcdcd);
  }

  &:focus {
    outline: 2px solid var(--special-dark-grey, #444444);
    outline-offset: -2px;
  }

  &:active {
    border: 1px solid var(--special-dark-grey3, #cdcdcd);
  }

  &:invalid {
    outline: 2px solid var(--error, #ff8282);
    outline-offset: -2px;
  }

  &:focus + .contact-list__icon::after {
    background-color: var(--basic-green, #68b738);
  }

  &:invalid + .contact-list__icon::after {
    background-color: var(--error, #ff8282);
  }
}
