.form {
  --block-font-special: var(--oswald), "Tahoma", sans-serif;
  --block-font-basic: var(--arial), sans-serif;
  padding-bottom: 31px;

  @media (min-width: 768px) {
    padding-bottom: 72px;
  }

  @media (min-width: 1280px) {
    padding-bottom: 82px;
  }
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;

  &--grid_align {
    @media (min-width: 1280px) {
      align-self: center;
    }
  }
}

.form__client-data-list {
  margin-bottom: 22px;

  @media (max-width: 767.9px) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (min-width: 768px) {
    margin-bottom: 74px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 0;
  }
}

.form__radio-list {
  margin: 0;
  margin-bottom: 27px;

  @media (max-width: 767.9px) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (min-width: 768px) {
    margin: 0;
    margin-bottom: 75px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 0;
  }
}

.form__checkbox-list {
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: 768px) {
    margin-top: -6px;
    margin-bottom: 54px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 19px;
  }
}

.form__contact-list {
  margin-bottom: 23px;

  @media (min-width: 768px) {
    margin-bottom: 65px;
  }
}

.form__comment {
  margin: 0;
  margin-bottom: 20px;
  margin-top: 6px;

  @media (min-width: 768px) {
    margin-top: -1px;
    margin-bottom: 63px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 67px;
  }
}

.form__button {
  display: block;
  padding: 10px 5px;
  margin-bottom: 21px;

  @media (min-width: 768px) {
    width: 282px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1;
    padding: 16px 5px;
  }

  @media (min-width: 1280px) {
    width: 568px;
  }
}

.form__top-layout {
  @media (max-width: 767.9px) {
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 70px;
  }
}

.form__bottom-layout {
  display: grid;
  grid-template-rows: 1fr max-content;

  @media (min-width: 768px) {
    grid-template-rows: 1fr;
    grid-template-columns: min-content max-content;
    align-items: center;
    column-gap: 61px;
  }

  @media (min-width: 1280px) {
    column-gap: 80px;
    margin-top: 41px;
  }
}

.form__title-legend {
  margin-bottom: 34px;
  margin-left: -20px;

  @media (min-width: 768px) {
    margin-bottom: 74px;
  }

  &--margin_bottom {
    @media (min-width: 768px) {
      margin-bottom: 62px;
    }
  }
}

.form__legend {
  @media (min-width: 768px) {
    margin-top: -5px;
  }
}
