.gift-promo {
  --block-font-basic: var(--arial, sans-serif);
  padding-top: 40px;
  padding-bottom: 35px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.gift-promo__inner {
  background-image: url("../../img/gift-promo/gift-photo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 289px;
  display: grid;
  justify-items: center;

  @media (min-width: 768px) {
    min-height: 200px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: initial;
  }

  @media (min-width: 1440px) {
    height: 100%;
    background-size: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }

  &::before {
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../../img/stack.svg#gift");
    background-repeat: no-repeat;
    margin-top: 59px;

    @media (min-width: 768px) {
      grid-column: 1/2;
      grid-row: 1/1;
      margin: 0;
      margin-left: 79px;
    }

    @media (min-width: 1440px) {
      margin-left: 0;
      margin-top: 50px;
      grid-row: 1/2;
    }
  }
}

.gift-promo__text {
  font-family: var(--block-font-basic);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--basic-white, #ffffff);
  width: 161px;
  text-align: center;

  @media (min-width: 768px) {
    margin: 0;
    text-align: left;
    grid-column: 2/3;
    grid-row: 1/1;
    margin-left: 68px;
  }

  @media (min-width: 1440px) {
    text-align: center;
    margin-left: 0;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
