.lead {
  --block-font-special: var(--oswald, "Tahoma", sans-serif);
  font-family: var(--block-font-special);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black, #000000);
}
