.legend {
  font-family: var(--block-font-basic);
  font-size: 14px;
  line-height: calc(16 / 14);
  font-weight: 400;
  color: var(--basic-black, #000000);
  justify-self: center;
  text-align: center;
  word-break: break-word;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1;
    justify-self: auto;
  }
}
