.logo {
  display: block;
  // padding-top: 11px;
  // padding-bottom: 14px;
  padding: 11px 20px 14px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: 768px) {
    padding: 0;
  }
}

.logo__img {
  width: 34px;
  height: 38px;

  @media (min-width: 768px) {
    width: 174px;
    height: 52px;
    padding-right: 10px;
  }

  @media (min-width: 1280px) {
    width: 202px;
    height: 59px;
    padding-right: 0;
  }
}

.logo__text {
  position: absolute;
  left: calc(50% - 50px);
  top: 24px;

  @media (min-width: 768px) {
    // position: static;
    display: none;
  }
}
