.page {
  --main-font-set: var(--oswald, "Tahoma", sans-serif);
  font-family: var(--main-font-set);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--special-dark-grey, #444444);
  height: 100%;
}

.page__body {
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page__wrapper {
  // width: 280px;
  padding: 0 20px;

  @media (min-width: 768px) {
    // width: 708px;
    padding: 0 30px;
  }

  @media (min-width: 1440px) {
    // width: 1220px;
    padding: 0 110px;
  }
}

.page__benefits {
  margin-bottom: 42px;
}

.page__product-categories {
  margin-bottom: 27px;
}

.page__result-example {
  position: relative;
}

.page__promo {
  margin-bottom: 22px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  @media (min-width: 1440px) {
    margin-bottom: 82px;
  }
}

.page__additional-products {
  @media (min-width: 1440px) {
    margin-bottom: 86px;
  }
}
