.page-footer {
  --block-font-basic: var(--arial), sans-serif;
}

.page-footer__inner {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__copy {
  font-family: var(--block-font-basic);
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  text-decoration: none;
  color: var(--special-dark-grey, #444444);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 19ch;

  &::after {
    content: "";
    display: inline-block;
    min-width: 38px;
    min-height: 38px;
    background-color: var(--icon-grey, #666666);
    mask-image: url("../../img/stack.svg#htmlacademy");
    mask-repeat: no-repeat;
    // margin-right: -6px;

    @media (min-width: 768px) {
      // margin-left: 22px;
      margin-right: 0;
    }
  }

  @media (min-width: 768px) {
    margin-right: -5px;
  }

  &:hover::after {
    background-color: var(--basic-green, #68b738);
  }

  &:active,
  &:active::after {
    opacity: 0.3;
  }
}

.page-footer__bottom {
  background-color: var(--basic-grey, #f2f2f2);
  padding-top: 37px;
  padding-bottom: 22px;

  @media (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 55px;
  }

  @media (min-width: 1280px) {
    padding-top: 54px;
    padding-bottom: 50px;
  }
}

.page-footer__social-list {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin: 0;
    margin-left: 33px;
  }
}

.page-footer__footer-logo {
  margin-bottom: 32px;

  @media (min-width: 768px) {
    margin: 0;
  }
}
