.page-header {
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    padding-top: 43px;
  }

  @media (min-width: 1440px) {
    padding-top: 69px;
  }
}

.page-header__logo {
  margin-right: 50px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.page-header__inner {
  @media (min-width: 1440px) {
    margin-bottom: 32px;
  }
}
