.page-header {
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    padding-top: 23px;
  }

  @media (min-width: 1440px) {
    padding-top: 53px;
  }
}

.page-header__logo {
  margin-right: 50px;
}

.page-header__inner {
  margin-bottom: 32px;
}
