.page {
  --main-font-set: var(--oswald, "Tahoma", sans-serif);
  font-family: var(--main-font-set);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--special-dark-grey, #444444);
}

.page__body {
  margin: 0;
}

.page__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: 768px) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: 1440px) {
    width: 1220px;
    padding: 0 110px;
  }
}

.page__benefits {
  margin-bottom: 42px;
}

.page__product-categories {
  margin-bottom: 27px;
}

.page__result-example {
  position: relative;
}

.page__promo {
  position: relative;
  margin-bottom: 22px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  @media (min-width: 1440px) {
    margin-bottom: 82px;
  }
}
