.products-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  row-gap: 25px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    justify-items: center;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 60px;
  }
}

.products-list__item {
  border-top: 1px solid var(--special-grey3, #ebebeb);
  padding-right: 20px;
  padding-left: 20px;
  margin-right: -20px;
  margin-left: -20px;

  @media (min-width: 768px) {
    padding: 0;
    margin: 0;
    border: none;
  }

  &:last-child {
    border-bottom: 1px solid var(--special-grey3, #ebebeb);
    padding-bottom: 25px;

    @media (min-width: 768px) {
      padding: 0;
      margin: 0;
      border: none;
    }
  }

  @media (min-width: 768px) {
    width: 324px;
  }

  @media (min-width: 1440px) {
    width: 245px;
  }
}

// .products-list__more-items {
//   padding-right: 20px;
//   padding-left: 20px;
//   margin-right: -20px;
//   margin-left: -20px;

//   @media (min-width: 768px) {
//     padding-right: 0;
//     padding-left: 0;
//     margin-right: 0;
//     margin-left: 0;
//   }
// }
