.program-form {
  --block-font-special: var(--oswald, "Tahoma", sans-serif);
  --block-font-basic: var(--arial, sans-serif);
  padding-bottom: 32px;
}

.program-form__fieldset {
  border: none;
  padding: 0;

  &:nth-child(2) {
    border-top: 1px solid var(--special-white, #d9d9d9);
    border-bottom: 1px solid var(--special-white, #d9d9d9);
  }
}

.program-form__title {
  font-family: var(--block-font-special);
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black, #000000);
}

.program-form__label {
  font-family: var(--block-font-special);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--special-dark-grey, #444444);

  &--color_a {
    color: var(--special-dark-grey2, #222222);
  }

  &--color_b {
    color: var(--basic-black, #000000);
  }
}

.program-form__field {
  font-family: var(--block-font-special);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--special-dark-grey, #444444);

  &::placeholder {
    font: inherit;
    color: inherit;
    opacity: 1;
  }
}

.program-form__radio-options-list {
  padding: 0;
  margin: 0;
}

.program-form__checkbox-options-list {
  padding: 0;
  margin: 0;
}

.program-form__legend {
  font-family: var(--block-font-basic);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--basic-black, #000000);
}
