.radio-button {
  &:checked + .radio__label::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: var(--basic-green, #68b738);
    mask-image: url("../../img/stack.svg#radiobutton-active");
    mask-repeat: no-repeat;
    top: 8px;
    left: 8px;

    @media (min-width: 768px) {
      width: 18px;
      height: 18px;
      left: 11px;
      top: 12px;
    }
  }
}
