.slider__before {
  max-width: 100%;
  // height: auto;
  height: 230px; /* Временно добавил для PP */

  @media (min-width: 768px) {
    height: 503px;
    width: 678px;
  }
}

.slider__after {
  max-width: 100%;
  height: auto;
}

.slider__items {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media (min-width: 1440px) {
    align-self: flex-end;
    margin-bottom: 19px;
  }
}
