.slider__before {
  max-width: 100%;
  width: 280px;
  height: 232px;
  object-fit: contain;

  @media (min-width: 768px) {
    width: 677px;
    height: 520px;
  }
}

.slider__after {
  max-width: 100%;
  width: 251px;
  height: 240px;
  object-fit: contain;

  @media (min-width: 768px) {
    width: 545px;
    height: 520px;
  }
}

.slider__items {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media (min-width: 1280px) {
    align-self: flex-end;
    margin-bottom: 19px;
  }
}
