.social-list {
  // --ico-vk: url("../../img/stack.svg#vkontakte");
  // --ico-fb: url("../../img/stack.svg#facebook");
  // --ico-insta: url("../../img/stack.svg#instagram");
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--special-white, #d9d9d9);
  border-bottom: 1px solid var(--special-white, #d9d9d9);
  padding: 20px 0 11px;

  @media (min-width: 768px) {
    border: none;
    padding: 0 10px;
  }
}

.social-list__link::after {
  content: "";
  display: inline-block;
  background-color: var(--icon-grey, #666666);
  mask-image: url("../../img/stack.svg#vkontakte");
  mask-repeat: no-repeat;
  width: 22px;
  height: 22px;

  @media (min-width: 768px) {
    width: 30px;
    height: 30px;
  }
}

.social-list__link {
  &--vkontakte::after {
    mask-image: url("../../img/stack.svg#vkontakte");
  }

  &--instagram::after {
    mask-image: url("../../img/stack.svg#instagram");
    width: 16px;
    height: 16px;

    @media (min-width: 768px) {
      // width: 31px;
      // height: 31px;
      width: 23px;
      height: 23px;
    }
  }

  &--facebook::after {
    mask-image: url("../../img/stack.svg#facebook");
    width: 21px;
    height: 21px;

    @media (min-width: 768px) {
      // width: 39px;
      // height: 39px;
      width: 33px;
      height: 28px;
    }
  }

  &:hover::after {
    background-color: var(--basic-green, #68b738);
  }

  &:active::after {
    opacity: 0.3;
  }
}

.social-list__item {
  margin-right: 36px;

  @media (min-width: 768px) {
    margin-right: 25px;
  }

  &:last-child {
    margin-right: 0;
  }
}
