.statistics-list {
  --block-font-special: var(--oswald, "Tahoma", sans-serif);
  --block-font-basic: var(--arial, sans-serif);
  display: grid;
  grid-template-columns: repeat(2, 124px);
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  column-gap: 31px;

  @media (min-width: 768px) {
    grid-template-columns: 162px 162px 1fr;
    grid-template-rows: 1fr;
    column-gap: 42px;
  }

  @media (min-width: 1280px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr max-content;
    margin-right: 70px;
  }
}

.statistics-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--special-dark-grey3);
  border-radius: 3px;
  padding-top: 13px;
  position: relative;
}

.statistics-list__item--aspect {
  grid-row: 2/3;
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
  border: none;
  padding: 0;

  @media (min-width: 768px) {
    flex-direction: column;
    grid-row: initial;
    grid-column: initial;
    justify-self: end;
    align-self: flex-start;
    margin: 0;
    padding-top: 8px;
  }

  @media (min-width: 1280px) {
    justify-self: normal;
    flex-direction: row;
    grid-column: 1/-1;
    justify-content: flex-start;
    padding-right: 39px;
    margin-top: 55px;
  }
}

.statistics-list__title {
  font-family: var(--block-font-basic);
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: var(--special-dark-grey, #444444);
  order: 2;
  width: min-content;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 14px;
    width: initial;
  }

  &--font {
    font-family: var(--block-font-special);
    font-size: 14px;
    line-height: 20px;
    color: var(--basic-black, #000000);
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 1;
    }

    @media (min-width: 1280px) {
      margin-right: auto;
    }
  }

  &--position {
    position: absolute;
    background-color: var(--special-grey-bg, #eaeaea);
    top: 46px;
    padding: 0 17px;

    @media (min-width: 768px) {
      background-color: var(--basic-white, #ffffff);
      padding: 0 5px;
      top: 61px;
    }

    @media (min-width: 1280px) {
      background-color: var(--special-grey-bg, #eaeaea);
    }
  }
}

.statistics-list__sum-title {
  order: initial;
  width: initial;

  @media (min-width: 768px) {
    margin-bottom: 10px;
  }

  &::after {
    content: ":";
    display: inline-block;
  }
}

.statistics-list__sum {
  margin-left: 0;
}

.statistics-list__description {
  font-family: var(--block-font-special);
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--basic-black, #000000);
  margin-bottom: 12px;
  margin-left: 0;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: calc(34 / 30);
    margin-bottom: 21px;
  }

  &--font {
    font-size: 14px;
    line-height: calc(20 / 14);
    margin-bottom: 0;

    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 1;
      align-self: flex-end;
    }

    @media (min-width: 1280px) {
      align-self: initial;
    }
  }
}
