:root{
  // BASIC COLORS
  --basic-black: #000;
  --basic-white: #fff;
  --basic-green: #68B738;
  --basic-grey: #f2f2f2;
  // SPECIAL COLORS
  --special-dark-grey: #444;
  // BACKGROUND COLORS
  --rgb-basic-green: 104,183,56;
  --special-grey-bg: #eaeaea;
  // FONTS
  --oswald: "Oswald";
  --arial: "Arial";
}
