:root {
  // BASIC COLORS
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-green: #68b738;
  --basic-grey: #f2f2f2;
  // SPECIAL COLORS
  --special-grey: #e7e7e7;
  --special-grey2: #e6e6e6;
  --special-grey3: #ebebeb;
  --special-dark-grey: #444444;
  --special-dark-grey2: #222222;
  --special-dark-grey3: #cdcdcd;
  --special-dark-grey4: #111111;
  --icon-grey: #666666;
  --special-white: #d9d9d9;
  --error: #ff8282;
  --green-hover: #5eaa2f;
  // BACKGROUND COLORS
  --rgb-basic-green: 104, 183, 56;
  --special-grey-bg: #eaeaea;
  --rgb-basic-black: 0, 0, 0;
  --rgb-basic-white: 255, 255, 255;
  --rgb-special-dark-grey: 68, 68, 68;
  // FONTS
  --oswald: "Oswald";
  --arial: "Arial";
}
